.hero-content h1 span {
    color: #dceaa2;
    transform: rotate(-5deg);
    display: inline-block;
}

.hero-circle {
    animation-name: float-bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes float-bob {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    transition: all .4s ease-out 0s;
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}